model
build
dist
run.spec
__pycache__
testPath.py
pathBat.pathBat
test.py
person.jpeg
test.jpeg
dtPersonLocation.spec
dtPersonLocationWaitDeploy.exe
dtPersonShe.spec
img_after - Copy.png
dataPicture
tt.py